# Parser files
parser.out
parsetab.py
parsetab.pyc

# Output files
workflow*

# LaTeX files
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.aux
*.bbl
*.blg
*.out
*.nav
*.snm

# Don't ignore any files inside pepa directory
!pepa/

# Other stuff
tmp/
